APP_PORT=3333

# DATABASE #
DATABASE_USER=postgres
DATABASE_PASSWORD=your-password
DATABASE_NAME=db-name
# If you are using docker, set database (name of service on docker-compose)
DATABASE_HOST=localhost
# If you are using docker, please use as 5432
# If not set the same value of DATABASE_OUTSIDE_PORT
DATABASE_PORT=5432
# Access from outside
DATABASE_OUTSIDE_PORT=5434