{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 80,
	"semi": true,
	"trailingComma": "none",
	"overrides": [
		{
			"files": ["*.yml", "*.yaml", "**/*.yml", "**/*.yaml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
